# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# VSCode
.vscode/

# PyCharm
.idea/

# MacOS / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env


*.jpg
*.jpeg
*.png
db/
resources/images/
test_image/